button{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 5%;
    background-color: beige;
    border: 2px solid darkolivegreen;
    

} 
input{
margin-left: 15%;
margin-bottom: 5%;

}
.loginForm{
    border: ridge 15px darkolivegreen;
    border-radius: 30px;
    width: 20%;
    height: 25%;
    margin: 16% auto;
    text-align: center;
    background-color: beige;
}

.BubblePageStyle{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.colorListStyle{
    margin-top: 15px;
}