button{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1%;
    

} 
input{
margin-left: 20%;
margin-bottom: 5;

}
.loginForm{
    border: ridge 15px darkolivegreen;
    border-radius: 30px;
    width: 20%;
    height: 25%;
    margin: 16% auto;
    text-align: center;
}

.BubblePageStyle{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.colorListStyle{
    margin-top: 15px;
}